@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #211E1E;
  --secondary-color: #ffb267;
  --outline-color: #69C350;
  --text-color: #afafaf;
  --heading-color: #324;
  --stats-bg-color: rgba(40, 36, 36, 0.85);
}


body {
  color: white;
  background: black;
}
